.br-unfold-text{
  --green-color: #acadae;
  --line-height: 23px;
  font-size: 14px;
  line-height: var(--line-height);
  text-align: justify;
  > .wrap{
    &.is-open{
      height: calc(var(--line-height) * var(--row));
      overflow: hidden;
    }
    &::before{
      content: '';
      display: block;
      height: calc(var(--line-height) * calc(var(--row) - 1));
    }
    > .content{
      margin-top: calc(var(--line-height) * calc(var(--row) - 1) * -1);
    }
    > .btn{
      float: right;
    }
    .open, .close{
      color: var(--green-color);
      cursor: pointer;
    }
    .close{
      text-align: center;
    }
  }
}
