.banner{
  height: 50vw;
  max-height: 500px;
  position: relative;
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1{
    font-size: 5em;
    color: rgba(#eee, .8);
    text-shadow: 
      2px 2px 4px #fff,
      0 0 0 #000,
      2px 2px 4px #fff;
    @include utils.mediaPhone() {
      font-size: 3em;
    }
  }
}
