:root{
  --br-bg-color: #fff;
  --br-text-color: #404040;
  --br-green-color: #acadae;
  --br-green-bg-color: #F5F7FA;
  --br-color-primary: #1677ff;
  --br-color-success: #52c41a;
  --br-color-warning: #faad14;
  --br-color-error: #ff4d4f;
  --br-color-info: #eaecef;
}
