.dialog:modal{
  border: none;
  outline: none;
  padding: 0;
}
.dialog:-internal-dialog-in-top-layer::backdrop{
  background: rgba(0,0,0,.6);
}
.wrap{
  min-width: 200px;
  min-height: 50px;
}
.close-icon{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}