.case{
  position: relative;
  --side-width: 260px;
  .title{
    text-align: center;
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.4rem;
    border-bottom: 1px solid #efeaea;
    margin-bottom: 4px;
  }
}

.side{
  position: fixed;
  width: var(--side-width);
  border-right: 1px solid #eee;
  font-size: 16px;
  line-height: 2.6;
  padding: 0 10px;
  box-sizing: border-box;
  >li{
    >a{
      display: block;
    }
    &:not(:last-child){
      border-bottom: 1px solid #eee;
    }
    &:has(:global(.exact-active)) {
      background: rgba(204,227,255,.14);
    }
  }
  @include utils.mediaPhone() {
    position: static;
    border: none;
  }
}
.main{
  width: calc(100% - var(--side-width));
  margin-left: var(--side-width);
  padding: 0 10px;
  box-sizing: border-box;
  @include utils.mediaPhone() {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
}

.preview{
  border: 1px solid #eee;
  overflow-x: auto;
  min-height: 300px;
}
.title{
  font-size: 16px;
}
.code{
  margin-top: 10px;
}