.br-modal{
  --border-redius: 12px;
  border-radius: var(--border-redius);
  > .br-basic-dialog-wrap{
    width: 300px;
    padding: 14px;
    border-radius: var(--border-redius);
    > header{
      display: flex;
      justify-content: space-between;
    }
    > footer{
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  .title{
    font-size: 18px;
  }
  .icon-close{
    font-size: 16px;
    cursor: pointer;
  }

}